html {
    overflow-y: scroll;
  }
  
  /* Optional: To hide the scrollbar but keep the spacing */
  html {
    scrollbar-width: 0; /* Firefox */
    -ms-overflow-style: 0; /* IE and Edge */
  }
  
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  